#root {
  width: 100% !important;
  text-align: center;
}

#root .max_width {
  padding: 0.5rem;
  max-width: 1080px;
  margin: 0 auto !important;
  width: 100% !important;
}

#root .url_form {
  background: url(/public/images/bg-shorten-mobile.svg) no-repeat center 100%;
}
@media screen and (min-width: 768px) {
  #root .url_form {
    background: url(/public/images/bg-shorten-desktop.svg) no-repeat center 100%;
  }
}
