#root {
  width: 100% !important;
  text-align: center;
}

#root .max_width {
  padding: 0.5rem;
  max-width: 1080px;
  margin: 0 auto !important;
  width: 100% !important;
}

#root .url_form {
  background-image: url(/images/bg-shorten-mobile.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-color: var(--primary-dark-violet);
}

#root .boast_section {
  background-image: url(/images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-color: var(--primary-dark-violet);
}

footer .logo_footer svg {
}
@media screen and (min-width: 768px) {
  #root .url_form {
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: var(--primary-dark-violet);
    background-image: url(/images/bg-shorten-desktop.svg);
  }

  #root .boast_section {
    background-image: url(/images/bg-boost-desktop.svg);
  }
}
